<div class="backgroundWhite z-depth-4">

<div class="row addForm">
  <form class="col s12" [formGroup]="newPostForm">
    <div class="row">

    <div class="input-field">
      <select materialize="material_select" [materializeSelectOptions]="type" formControlName="category">
         <option value="" disabled selected>Choose your Category</option>
         <option *ngFor="let name of category" [value]="name">{{name}}</option>
      </select>
    </div>

      <div class="input-field col s12">
        <textarea id="title" class="materialize-textarea" formControlName="title"></textarea>
        <label for="title">Title</label> 
      </div>

    </div>
    <br>
    <div class="row">
      <div class="input-field col s12">
        <textarea rows="25" id="content" type="content" class="validate materialize-textarea" formControlName="content" data-length="500"></textarea>
        <label for="content">Content</label>
      </div>
    </div>
    <br>
    <div class="row formButton">
      <button class="btn waves-effect waves-light center" (click)="addPost()">Add Post</button>
    </div>
  </form>
</div>
<div id="warnModal" class="modal" materialize="modal" [materializeParams]="[{dismissible: false}]" [materializeActions]="warnAction">
  <div class="modal-content">
    <div class="warningImage">
      <img class="warningImage" align="middle" src="../assets/image/ninja-logo.png">
    </div>
    <br>
    <h4 class="center-align">Uh Oh! You Forgot Something</h4>
    <p class="center-align">Please check over the form, you may have missed a field or two....</p>
  </div>
  <div class="modal-footer">
    <a class="waves-effect modal-close waves-green btn-flat center-align" (click)="warnModal()">Review Form</a>
  </div>
</div>
</div>
