.brand-logo img {
  height: 60px;
  margin: 2px 15px;
}

nav {
 background-color: #8ea9a9;
}

#dropdown1 {
  margin-top: 64px;
}

#loginIcon {
  float: right;
  margin-left: 5px;
}

#loginText {
  float: left;
}

#loginNav {
  min-width: 195px;
  text-align: center;
  background-color: #435f5f;
}

#loginNav:hover {
  background-color: #8ea9a9;
}
