nav {
  background-color: #8ea9a9;
  border-top: 3px  #435f5f;
  border-style: solid;
  border-bottom: 0px;
  border-right: 0px;
  border-left: 0px;
  margin-bottom: 60px;
}

ul {
  box-shadow:
    0 2px 2px 0 rgba(0, 0, 0, 0.14),
    0 1px 5px 0 rgba(0, 0, 0, 0.12),
    0 3px 1px -2px rgba(0, 0, 0, 0.2);
}

a:hover {
  cursor: pointer;
}
