<form id=search-profiles>
  <label>Search By Name</label>
  <input id="autocomplete-input" class="autocomplete" type="text" [(ngModel)]="term" name="test">
</form>

<ul class="collection" *ngFor="let profile of users | async | searchProfiles:term   ">
  <li class="collection-item avatar">
    <img src={{profile.photoURL}} alt="photo of {{profile.displayName}}" class="circle">
    <span class="title"><h4>{{profile.displayName}}</h4></span>
    <p>
      {{profile.location}}
    </p>
    <a (click)="goToDetailPage(profile)">Visit My Profile Page</a>
  </li>
</ul>
