<div class="container">

  <div class="row">

    <div class="col m3">
      <img src="{{profileToDisplay?.photoURL}}" alt="photo of {{profileToDisplay?.displayName}}"/>
    </div>

    <div class="col m9">
      <div class="row">
        <p id="name"><strong>Name:</strong> {{profileToDisplay?.displayName}}</p>
      </div>
      <div class="row">
        <p id="email"><strong>Email:</strong> {{profileToDisplay?.email}}</p>
      </div>
    </div>

  </div>

  <div class="row">
    <div class="col m8">
      <div id="bioBorder">
      <p><strong>Bio:</strong> Cool things about me!</p>
    </div>
    </div>
    <div class="col m4">
      <div class="row">
        <div class="dateLocationBorder">
          <p>Date</p>
        </div>
      </div>
      <div class="row">
        <div class="dateLocationBorder">
          <p>Location</p>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col m6">
      <p>Job Status</p>
    </div>
    <div class="col m6">
      <p>Specialties</p>
    </div>
  </div>

  <div class="row">
    <div class="col m4">
      <p>Portfolio Site</p>
    </div>
    <div class="col m4">
      <p>Github</p>
    </div>
    <div class="col m4">
      <p>LinkedIn</p>
    </div>
  </div>
</div>
