img {
  width: 100%;
  height: auto;
  max-width: 400px;
}

.container {
  padding: 10px;
  margin-top: 70px;
  background: white;
}

#name {
  font-size: 40px;
  margin: 60px 20px 0px;
  border-bottom: solid;
}

#email {
  font-size: 40px;
  margin: 0 20px;
  border-bottom: solid;
}

.nameEmailContent {
  font-size: 20px;
  margin-top: 8px;
}

#bioBorder {
  border: solid 2px #333 ;
  min-height: 177px;
  padding: 10px;

}

.customBorder {
  border: solid 2px;
  padding: 10px;
}

.icons {
  font-size: 24px;
  float: left;
}

p {
  margin: 0 30px;
}

.z-depth-2 {
  padding: 10px;
}

button {
  float: right;
  background-color: #435f5f;
}

button:hover {
  background: #8ea9a9;
}

.btn-floating {
  background-color: #8ea9a9;
}
