<div class="backgroundWhite z-depth-4">
  <div>
    <h3 class="label">{{postToDisplay?.title}}</h3>
    <p>Category: {{postToDisplay?.category}}</p>
    <p>Content: {{postToDisplay?.content}}</p>
  </div>
  <div *ngIf="editClicked" class="row editPostForm" >
    <form class="col s12" [formGroup]="editPostForm">
      <div class="row">
        <div class="input-field">
          <select materialize="material_select" [materializeSelectOptions]="type" formControlName="category" >
            <option *ngFor="let name of category" [value]="name" >{{name}}</option>
          </select>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s6">
          <textarea formControlName="title" id="title" class="materialize-textarea"></textarea>
          <label class="active" for="title">Title</label>
        </div>
      </div>
      <div class="input-field col s6">
        <textarea  rows="8" cols="40" formControlName='content' class="materialize-textarea"></textarea>
        <label class="active" for="content">Content</label>
      </div>
      <div class="row formButton">
        <button class="btn waves-effect waves-light center" (click)="editPost()">Add Post</button>
      </div>
    </form>
  </div>
  <div *ngIf="ownerMode" class="fixed-action-btn toolbar">
    <a class="btn-floating btn-large">
      <i class="large material-icons waves-light">perm_identity</i>
    </a>
    <ul>
      <li class="waves-effect waves-light"><a (click)="showEdit()"><i class="material-icons">edit</i></a></li>
      <li class="waves-effect waves-light"><a (click)="warnDelete()"><i class="material-icons">delete</i></a></li>
    </ul>
  </div>
</div>
