/* You can add global styles to this file, and also import other style files */
footer {
  position: fixed;
  width: 100%;
  bottom: 0;
}


.preLoader {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}
