/* You can add global styles to this file, and also import other style files */
footer {
  position: fixed;
  width: 100%;
  bottom: 0;
}


.preLoader {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

body {
  font-family: 'Roboto', sans-serif;
}

.label {
  font-family: 'Bitter', serif;
  font-size: 20px;
  font-weight: bold;
}

body {
  background-image: url('assets/image/background.jpg');
  width: 100%;
  height: 1200px;
  background-size: cover;
  background-position: top;
}

html {
  width: 100%;
  height: 100%;
}


.backgroundWhite {
  background: white;
  padding: 40px;
  width: 100%;
  height: 100%;
  margin: 100px 0;
}
