<div class="backgroundWhite z-depth-4">

<form class="col s12" [formGroup]="updateForm">
      <div class="row">
        <div class="input-field col s12">
          <i class="material-icons prefix">library_books</i>
          <textarea id="bio" class="materialize-textarea" formControlName="bio"></textarea>
          <label for="bio">Bio</label>
        </div>
        <div class="input-field col s6">
          <i class="material-icons prefix">location_on</i>
          <input id="location_on" type="text" class="validate" formControlName="location">
          <label for="location_on">Location</label>
        </div>
        <div class="input-field col s6">
          <i class="material-icons prefix">work</i>
          <select formControlName="jobStatus" materialize="material_select" [materializeSelectOptions]="jobStatus">
            <option disabled selected>Job Status</option>
            <option>Happily Employed</option>
            <option>Desparately Seeking</option>
            <option>Employed but Open to Opportunities</option>
            <option>Freelance and Free</option>
          </select>
        </div>
        <div class="input-field col s6">
          <i class="material-icons prefix">loyalty</i>
          <input id="specialty" type="text" class="validate" formControlName="specialty">
          <label for="specialty">Specialty</label>
        </div>
        <div class="input-field col s6">
          <i class="material-icons prefix">assignment_ind</i>
          <input id="portfolioSite" type="url" class="validate" formControlName="portfolioSite">
          <label for="portfolioSite">Portfolio</label>
        </div>
        <div class="input-field col s6">
          <i class="fa fa-github material-icons prefix" aria-hidden="true"></i>
          <input id="github" type="url" class="validate" formControlName="github">
          <label class="iconLabel" for="github">Github Profile</label>
        </div>
        <div class="input-field col s6">
          <i class="fa fa-linkedin material-icons prefix" aria-hidden="true"></i>
          <input id="linkedIn" type="url" class="validate" formControlName="linkedIn">
          <label for="linkedIn">LinkedIn Profile</label>
        </div>
      </div>
      <button class="btn waves-effect waves-light center" (click)='update()' name="button">submit</button>
    </form>
</div>
